@import "@/assets/const.scss";

.admin_form {
  order: 1;
  width: 100%;
}

.admin_title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  max-width: 816px;
  justify-content: space-between;
  div {
    width: 100%;
  }
}
