@import "../../assets/const.scss";

.container {
  max-width: 100%;
  min-height: 100vh;
  padding: 46px 80px 0;
  text-align: center;
  color: $base-font-color;
  background-color: $primary-bg-color;
  margin: 0 auto;
  @media only screen and (max-width: $breakpoint-desktop) {
    padding: 25px 45px;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    padding: 15px 20px;
  }
}

.card {
  display: flex;
  background-color: $secondary-bg-color;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 16px;
  min-height: 780px;
  box-shadow: 0px 15px 30px rgba(213, 213, 213, 0.25);
  padding: 55px 70px;
   /*Устанавливаем время и имя анимации*/
   -webkit-animation-duration: 3s;
   animation-duration: 3s;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
  .card_left {
    padding: 160px 112px;
    .img_wrapper {
      min-width: 200px;
      min-height: 200px;
      @media only screen and (max-width: $breakpoint-notebook) {
        scale: 0.75;
      }
    }
    .subtitle {
      margin: 0;
      margin-top: 78px;
      width: 200px;
      @media only screen and (max-width: $breakpoint-desktop) {
        margin-top: 40px;
      }
      @media only screen and (max-width: $breakpoint-notebook) {
        margin-top: 20px;
      }
      @media only screen and (max-width: $breakpoint-mobile) {
        width: 100%;
        margin-top: 20px;
      }
    }
    @media only screen and (max-width: $breakpoint-desktop) {
      padding: 100px 70px;
    }
    @media only screen and (max-width: $breakpoint-notebook) {
      padding: 50px 25px;
    }
  }
  .devider {
    height: 672px;
    //height: 472px;
    width: 1px;
    border-width: 0;
    margin: 0;
    background-color: $devider;
    align-self: center;
    @media only screen and (max-width: $breakpoint-desktop) {
      height: 575px;
    }
    @media only screen and (max-width: $breakpoint-mobile) {
      height: 1px;
      width: 100%;
    }
  }
  .card_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px 106px;
    row-gap: 68px;
    .title_name {
      text-align: left;
      color: $lite_grey-font-color;
    }
    .title {
      text-align: left;
    }
    .contacts_container {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 30px;
      align-items: flex-start;
      .contacts_name {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
      .title_contacts {
        color: $accient-font-color;
      }
      .contacts {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
        align-items: flex-start;
        .contact {
          display: flex;
          column-gap: 15px;
          text-align: left;
          font-size: 20px;
          font-weight: 400;
          line-height: 150%;
          align-items: center;
          a{
            &:hover {
              cursor: pointer;
              color: $grey-font-color;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $breakpoint-desktop) {
      padding: 50px;
      row-gap: 40px;
    }
    @media only screen and (max-width: $breakpoint-tablet) {
      padding: 50px;
      row-gap: 30px;
    }
  }
  @media only screen and (max-width: $breakpoint-desktop) {
    min-height: 500px;
    padding: 30px 40px;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    min-height: 300px;
    padding: 25px 20px;
  }
  @media only screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.icon_phone {
  width: 18px;
  height: 18px;
  background-image: url(../../assets/icons/phone.svg);
}

.icon_email {
  width: 18px;
  height: 16px;
  background-image: url(../../assets/icons/email.svg);
}

.icon_telegram {
  width: 20px;
  height: 20px;
  background: url(../../assets/icons/telegram.svg) no-repeat;
}